<div class="col-sm-12 margin_top_51 ">
    <hr>


    <div class="panel panel-primary list_header margin_top_10">
        <div class="panel-body text-center">
            <h4>List of Buildings</h4>

        </div>
    </div>
    <div class="col-sm-12 text-center margin_top_20">

        <button type="button" class="btn btn-success btn-xs"> A - B</button>
        <button type="button" class="btn btn-success btn-xs"> C - D</button>
        <button type="button" class="btn btn-success btn-xs"> E - F</button>
        <button type="button" class="btn btn-success btn-xs"> G - H</button>

        <button type="button" class="btn btn-success btn-xs"> I - J</button>
        <button type="button" class="btn btn-success btn-xs"> K - L</button>
        <button type="button" class="btn btn-success btn-xs"> M - N</button>
        <button type="button" class="btn btn-success btn-xs"> O - P</button>
        <button type="button" class="btn btn-success btn-xs"> Q - R</button>
        <button type="button" class="btn btn-success btn-xs"> S - T</button>
        <button type="button" class="btn btn-success btn-xs"> U - V</button>
        <button type="button" class="btn btn-success btn-xs"> W - X</button>
        <button type="button" class="btn btn-success btn-xs"> Y - Z</button>

    </div>

    <div class=" margin_top_30">
        <table class="table table-hover">
            <thead>
            <th>#</th>

            <th>Building Name</th>
            <th>Road Name</th>
            <th>Parking Area</th>
            <th>Description</th>
            <th>Address</th>
            </thead>
            <tbody>
            <tr>
                <td>1</td>

                <td>Maty City Center</td>
                <td>Bole</td>
                <td>Yes</td>
                <td>Blue building beside somekinda building</td>
                <td>Region -> addis ababa :
                    City -> Addis Ababa:
                    Sub City->Bole Sub City:
                    Kebele -> 12:
                    Sefer -> Bole Ednamall area

                </td>

            </tr>


            </tbody>
        </table>
    </div>



</div>