<div class="col-sm-12" >

    <div class="clear_float">
        <div class="col-sm-6">
            <div class="row">

                <h3> <span class="glyphicon glyphicon-certificate gold"> </span> Gold Companies = 1234</h3>
                <div class="col-sm-offset-1">
                    <span class="glyphicon glyphicon-certificate gold"> </span> Expired Gold Companies = 1234<br>
                    <span class="glyphicon glyphicon-certificate gold"> </span> Not Expired Gold Companies = 1234
                </div>


            </div>
            <div class="margin_top_51">

                <h3> <span class="glyphicon glyphicon-certificate silver"> </span> Silver Companies = 456</h3>
                <div class="col-sm-offset-1">
                    <span class="glyphicon glyphicon-certificate silver"> </span> Expired Silver Companies = 1234<br>
                    <span class="glyphicon glyphicon-certificate silver"> </span> Not Expired Silver Companies = 1234
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="">


                <h3> <span class="glyphicon glyphicon-certificate bronze"> </span> Bronze Companies = 567</h3>
                <div class="col-sm-offset-1">
                    <span class="glyphicon glyphicon-certificate bronze"> </span> Expired Bronze Companies = 1234<br>
                    <span class="glyphicon glyphicon-certificate bronze"> </span> Not Expired Bronze Companies = 1234
                </div>

            </div>
            <div class="margin_top_51">


                <h3> <span class="glyphicon glyphicon-remove red"> </span> Bronze Companies = 567</h3>
                <div class="col-sm-offset-1">
                    <span class="glyphicon glyphicon-remove red"> </span> Expired Bronze Companies = 1234<br>
                    <span class="glyphicon glyphicon-remove red"> </span> Not Expired Bronze Companies = 1234
                </div>

            </div>
        </div>
    </div>




    <div class="clear_float">

        <h3>Totals</h3>

        <div>
            <h3>Total Number of companies</h3>
        </div>
        <div>
            <h3>Total Number of Officially Registered Companies</h3>
        </div>
        <div>
            <h3>Total Number of Not Officially registered Companies</h3>
        </div>
        <div>
            <h3>Total Number of Expired Companies</h3>
        </div>
        <div>
            <h3>Total Number of Not Expired Companies</h3>
        </div>
    </div>
</div>