<div class="col-sm-2">
    <div class="list-group border_raduis_0">

            <p class="btn btn-info" > Company Search Menu </p>


        <a href="Company_Specific_Search.php" class="list-group-item encoder_menu">
            <span class="glyphicon glyphicon-search m_r_10"></span>

            <span class="s_17px">Specific Search</span>
        </a>
        <a href="Company_General_Search.php" class="list-group-item encoder_menu">
            <span class="glyphicon glyphicon-search m_r_10"></span>

            <span class="s_17px">Generic Search</span>
        </a>

        <a href="Silver_Companies.php" class="list-group-item encoder_menu">
            <span class="glyphicon glyphicon-home m_r_10"></span>

            <span class="s_17px">Browse Company</span>
        </a>


    </div>
</div>