<div class="col-sm-2">
    <div class="list-group border_raduis_0">

        <p class="btn btn-info" > Phone Search Menu </p>


        <a href="Add_Phone_Number.php" class="list-group-item encoder_menu">
            <span class="glyphicon glyphicon-search m_r_10"></span>

            <span class="s_17px">Search Phone</span>
        </a>
        <a href="Phone_List.php" class="list-group-item encoder_menu">
            <span class="glyphicon glyphicon-home m_r_10"></span>

            <span class="s_17px">Browse Phones</span>
        </a>

    </div>
</div>