<div class=" col-sm-6 list_container margin_0">


    <div class="col-sm-12">

        <div class="panel panel-default">
            <div class="panel-body text-center">
                <h4>Add Regions</h4>

            </div>
        </div>


        <div class=" margin_top_20">
            <form class="form-horizontal" role="form" action="../../../CONTROLLER/Admin_Edit_User.php" method="POST">


                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Region</label>
                    <div class="col-sm-5">
                        <input name="User_Name" type="text" class="form-control" id="inputEmail3" placeholder="Enter Region" >
                    </div>
                </div>



                <div class="form-group margin_top_30">

                    <div class="col-sm-5 col-lg-offset-4">
                        <button type="submit" class="btn btn-success btn-block"><strong>Add Region</strong>
                        </button>
                    </div>
                </div>
            </form>

        </div>



    </div>

    <div class="col-sm-12 margin_top_51 ">
        <hr>
        <div class="panel panel-primary list_header">
            <div class="panel-body text-center">
                <h4>List of Regions</h4>

            </div>
        </div>

        <div class=" margin_top_30">
            <table class="table table-hover">
                <thead>
                <th>#</th>
                <th>Region</th>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Amhara</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Oromiya</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Afar</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Tigray</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Amhara</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Oromiya</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Afar</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Tigray</td>
                </tr>

                </tbody>
            </table>
        </div>



    </div>



</div>