<div class=" col-sm-6 list_container margin_0">

    <div class="col-sm-12">

        <div class="panel panel-default">
            <div class="panel-body text-center">
                <h4>Add Sefer</h4>

            </div>
        </div>


        <div class=" margin_top_20">
            <form class="form-horizontal" role="form" action="../../../CONTROLLER/Admin_Edit_User.php" method="POST">





                <div class="form-group">
                    <label for="subcity" class="col-sm-4 control-label">Sefer</label>
                    <div class="col-sm-5">
                        <input name="User_Name" type="text" class="form-control" id="subcity" placeholder="Enter Sefer" >
                    </div>
                </div>





                <div class="form-group margin_top_30">

                    <div class="col-sm-5 col-lg-offset-4">
                        <button type="submit" class="btn btn-success btn-block">
                            <strong>Add Sefer</strong>
                        </button>
                    </div>
                </div>
            </form>

        </div>



    </div>

    <div class="col-sm-12 margin_top_51 ">
        <hr>
        <div class="panel panel-primary list_header">
            <div class="panel-body text-center">
                <h4>List of Sefer</h4>

            </div>
        </div>

        <div class=" margin_top_30">
            <table class="table table-hover">
                <thead>
                <th>#</th>
                <th>Sefer</th>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Lebu</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jemo 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Jemo 2</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Mekanisa</td>
                </tr>
                <tr>
                    <td>5</td>

                    <td>Ayer Tena</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Alem Bank</td>
                </tr>

                </tbody>
            </table>
        </div>



    </div>

</div>