<!--start of left side menu-->
<div class="col-sm-3">

    <div class="list-group border_raduis_0">
        <a href="Admin_Home_Page.php" class="list-group-item left_menu">
            <span class="glyphicon glyphicon-user m_r_10"></span>
            Employees

        </a>


        <a href="Admin_Action_Handler.php?EDIT_PROFILE=1" class="list-group-item left_menu">
            <span class="glyphicon glyphicon-cog m_r_10"></span>
            Setting

        </a>

    </div>

</div>
<!--end of the left side menu-->