<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><?php echo($title);?></title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/custome_common.css" rel="stylesheet">
    <link href="../../css/Admin.css" rel="stylesheet">


</head>
<body>



<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <a class="navbar-brand white">Afalagi Administrator</a>
    <p class="navbar-text white">We serve any thing with a single call.</p>
    <ul class="nav navbar-nav navbar-right">

        <li class="nav active"><a href="../../../CONTROLLER/Logout_Handler.php">Logout</a></li>
        <li class="nav active"><a href="#">About</a></li>

    </ul>

</div>

<div class="row margin_top_51">


    <!--start of left side menu-->

    <div class="col-sm-3">

        <div class="list-group border_raduis_0">
            <a href="#" class="list-group-item active left_menu">
                <span class="glyphicon glyphicon-user m_r_10"></span>
                Employees
                <span class="badge">1</span>
            </a>
            <a href="#" class="list-group-item left_menu">
                <span class="glyphicon glyphicon-import m_r_10"></span>
                New Applications
                <span class="badge">14</span>

            </a>
            <a href="#" class="list-group-item left_menu">
                <span class="glyphicon glyphicon-earphone m_r_10"></span>
                Tele Market Applications
                <span class="badge">1</span>
            </a>
            <a href="#" class="list-group-item left_menu">
                <span class="glyphicon glyphicon-cog m_r_10"></span>
                Setting

            </a>

        </div>

    </div>

    <!--end of the left side menu-->



    <!--start of the workers managing page-->

    <div class="col-sm-8 margin_top_10">

        <!--start of the navigation bar-->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Manage Employees</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ><a href="Admin_Home_Page.php">
                            <span class="glyphicon glyphicon-folder-open m_r_10"></span>
                            All Employees
                        </a></li>
                        <li class="active"><a href="#">
                            <span class="glyphicon glyphicon glyphicon-plus m_r_10"></span>
                            Add Employee
                        </a></li>

                    </ul>


                </div>
            </div>
        </nav>
        <!--end of navigation bar-->



        <!--start of the workers list-->

        <div class=" row list_container margin_0">


            <div class="col-sm-12">

                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <h4>Edit profile of the your employees.</h4>
                        <span>Just a click away to edit profiles.</span>
                    </div>
                </div>




                <div class="col-sm-8 col-sm-offset-1 margin_top_30">
                    <form class="form-horizontal" role="form" action="../../../CONTROLLER/Admin_Edit_User.php" method="POST">


                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">User Name</label>
                            <div class="col-sm-8">
                                <input name="User_Name" type="text" class="form-control" id="inputEmail3" placeholder="Enter user name" >
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label">Previous Password</label>
                            <div class="col-sm-8">

                                <input name="User_Password" type="password" class="form-control" id="inputPassword3" placeholder="Password" >
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="phone" class="col-sm-4 control-label">New Password</label>
                            <div class="col-sm-8">

                                <input name="User_Phone" class="form-control" id="phone" placeholder="Phone Number">

                            </div>
                        </div>



                        <input type="hidden" name="ID" >



                        <div class="form-group margin_top_51">
                            <div class="col-sm-offset-4 col-sm-3">
                                <a href="Admin_Home_Page.php" class="btn btn-default btn-block" role="button">cancel</a>
                            </div>
                            <div class="col-sm-offset-1 col-sm-3">
                                <button type="submit" class="btn btn-success btn-block"><strong>Save</strong>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>



            </div>



        </div>

    </div>

    <!--end of employee managing page-->



</div>


</body>
</html>